{
  "extends": "../.eslintrc.js",
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading": 0,
    "react/jsx-one-expression-per-line": 0,
    "arrow-parens": 0,
    "object-curly-newline": 0,
    "implicit-arrow-linebreak": 0,
    "comma-dangle": 0,
    "indent": 0,
    "operator-linebreak": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
  }
}