{
  "extends": "../.eslintrc.js",
  "env": {
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "import/no-dynamic-require": "off",
    "implicit-arrow-linebreak": "off",
    "global-require": "off",
    "operator-linebreak": "off",
    "indent": "off",
    "import/no-named-as-default-member": "off",
    "object-curly-newline": "off",
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "_" }]
  }
}