{
  "extends": "../.eslintrc.js",
  "env": {
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "prefer-destructuring": "off",
    "comma-dangle": "off",
    "indent": "off",
    "import/no-named-as-default-member": "off",
    "object-curly-newline": "off",
    "camelcase": "off",
    "no-underscore-dangle": "off"
  }
}